<a href="https://colab.research.google.com/github/Arprovat/Python__B-2__EDGE/blob/main/Class_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Set ðŸŒ±
Set is the collection of unorderec ,unchageable and unindexed items.

Store in *curly braces{}*

store **unique** elements

we can **add and remove** but we **can't update exist element**

marge two set using `Update()`

In [1]:
colors ={'white','red','black','white'}
print(colors)

{'red', 'white', 'black'}

In [2]:
colors.add('blue')
print(colors)

{'red', 'blue', 'white', 'black'}

In [3]:
colors.remove('white')
print(colors)

{'red', 'blue', 'black'}

In [4]:
for i in colors:
  print(i)

red
blue
black

In [5]:
Set_ =set()

In [6]:

import random
for j in range(1,11):
  Set_.add(random.randint(2,10))

print(Set_)

{3, 4, 5, 6, 7, 8, 10}

In [26]:
print('which number do want remove')
num = int(input())
Set_.remove(num)
print(Set_)

which number do want remove
3
{4, 5, 6, 7, 8, 10}

In [27]:
Set_.clear()
print(Set_)

set()

In [9]:
75
466
Set_1=set()

for k in range(1,6):
  element= input("Enter the element")
  Set_1.add(element)

lower= {x.lower() for x in Set_1}
print(lower)
Upper1= {x.upper() for x in Set_1}
print(Upper1)

Enter the elementhfdjh
Enter the elementifijs
Enter the elementfiahdi
Enter the elementHHHH
Enter the elementhdafi
{'hfdjh', 'hhhh', 'ifijs', 'hdafi', 'fiahdi'}
{'HDAFI', 'FIAHDI', 'IFIJS', 'HHHH', 'HFDJH'}

In [10]:
NumberSet = set()

for i in range(1,11):
  NumberSet.add(random.randint(20,29))

print(NumberSet)

{20, 21, 22, 24, 25, 27}

In [12]:
sum=0
product= 1
for i in NumberSet:
  sum+=i
  product *=i

print(sum)
print(product)

139
149688000

Write a Python Program to Get Items from user to Create Two Sets then Find Subtraction of Both Sets.

In [13]:
set_1 = {1,3,5,7,9}
set_2 = {2,4,6,5,10}

set_3 = set_1.difference(set_2)
print(set_3)

{1, 3, 9, 7}

Write a Python Program to Get Items from user to Create Two Sets and Display all the Items from Both Sets Except Duplicate Items.

In [14]:
set_1 = set()
set_2 = set()

for i in range(1,5):
    num = input("Enter the number")
    set_1.add(num)


for i in range(1,5):
  num = input("Enter the number")
  set_2.add(num)

print(set_1)
print(set_2)
554

set_3 = set_1.symmetric_difference(set_2)
print(set_3)

Enter the number2
Enter the number4
Enter the number5
Enter the number6
Enter the number7
Enter the number8
Enter the number9
Enter the number4
{'4', '2', '5', '6'}
{'4', '8', '9', '7'}
{'8', '7', '5', '9', '2', '6'}

Write a Python Program to Get Only Odd Numbers from 100 Generated number using Set Comprehension.

In [15]:
number_1= {i for i in range(101)}
print(number_1)
number_2= {i for i in number_1  if i%2==1}
print(number_2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
{1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99}

Write a Python Program to Get Only Students Name with Ending Character â€˜aâ€™ from a SET of Students using SET Comprehension

In [16]:
endA = {x for x in colors if x.endswith('a')}
print(endA)

set()

Write a Python Program to Get Two Set from User to Find Intersection of those Set.

In [18]:
set_1 = set()
set_2 = set()

for i in range(1,5):
    num = int(input("Enter the number"))
    set_1.add(num)


for i in range(1,5):
  num = int(input("Enter the number"))
  set_2.add(num)

set_3 = set_1.intersection(set_2)
print(set_3)

Enter the number3
Enter the number5
Enter the number8
Enter the number9
Enter the number5
Enter the number8
Enter the number9
Enter the number5
{8, 9, 5}

Write a Python Program to Get Two Set from User and Check which  Set is Subset of Other?

In [28]:
set_1 = set()
set_2 = set()

for i in range(1,5):
    num = int(input("Enter the number"))
    set_1.add(num)


for i in range(1,7):
  num = int(input("Enter the number"))
  set_2.add(num)

print(f"{set_1.issubset(set_2)} set_1 is subset of set_2")
print(f"{set_2.issubset(set_1)} set_2 is subset of set_1" )

Enter the number2
Enter the number4
Enter the number5
Enter the number6
Enter the number3
Enter the number5
Enter the number6
Enter the number7
Enter the number8
Enter the number9
False set_1 is subset of set_2
False set_2 is subset of set_1

Write a Python Program to Create  a Set, User Able to Remove any Element from that Set, then Display Set Element to User, then Add Removed Element to Set, then Display.

In [20]:
set_5 ={1,2,4,5,6,7}

print('enter the number you want to remove')
num = int(input())
set_5.remove(num)
print(set_5)

set_5.add(num)
print(set_5)

enter the number you want to remove
2
{1, 4, 5, 6, 7}
{1, 2, 4, 5, 6, 7}

Write a Python Program to Get 5 Elements from User to Store in a Set and Display One by One with their Total Number of Length.

In [25]:
et_1 = set()


for i in range(1,5):
    num = int(input("Enter the number "))
    et_1.add(num)

for x in et_1:
  print(f"{x} lenths is {len(str(x))}")

Enter the number 23
Enter the number 455
Enter the number 6778
Enter the number 346
455 lenths is 3
346 lenths is 3
6778 lenths is 4
23 lenths is 2

Write a Python Program to Get 5 Elements from User to Store in a List then Add that List to a Set.

In [21]:
List_ = list()


for i in range(5):
    num = int(input("Enter the number "))
    List_.append(num)

print(List_)
set_1 ={x  for x in List_}
print(set_1)

Enter the number 3
Enter the number 2
Enter the number 4
Enter the number 5
Enter the number 2
[3, 2, 4, 5, 2]
{2, 3, 4, 5}

# Tuple ðŸ¦–

tuple can store different data type .its an ordered . create ().can't add element in tuple

In [22]:
color_tuple = ('red','white','black')
print(color_tuple)

('red', 'white', 'black')

In [23]:
for color in color_tuple:
  print(color)

red
white
black

In [24]:
def generate_name():
  name =str()
  n= random.randint(1,10)
  for x in range(n):
    name += chr(random.randint(65,90))
  return name

for i in range(5):
  color_tuple +=(generate_name(),)

print(color_tuple)

('red', 'white', 'black', 'BHRU', 'WIHVANIT', 'RNGCZWPD', 'GXHQRXNSFP', 'POK')

In [32]:
number_tuple = tuple(random.randint(10,20) for i in range(1,11))
print(number_tuple)
mul=1
for i in number_tuple:
  mul*=i
print(mul)

(18, 10, 19, 20, 16, 15, 18, 20, 12, 12)
851005440000

In [35]:
number_tuple = tuple(random.randint(10,20) for i in range(1,11))
string_ =str()
for i in number_tuple:
  string_+=str(i)
print(string_)
print(type(string_))

19201415101219161714
<class 'str'>

In [36]:
number_tuple = tuple(random.randint(10,20) for i in range(1,11))
print(number_tuple)
num= int(input())
print(f"index of {number_tuple.index(num)}")

(18, 17, 15, 10, 16, 17, 11, 12, 10, 11)
11
6

In [39]:
number_tuple = tuple(random.randint(10,20) for i in range(1,11))
print(number_tuple)

for i in number_tuple:
  if i%2==0 and i%3==0:
    print(i)

(11, 14, 16, 17, 11, 14, 18, 11, 17, 10)
18

In [41]:
number_tuple = tuple(random.randint(10,20) for i in range(1,11))
print(number_tuple)
num= int(input())
print(f"occurrance {number_tuple.count(num)}")

(12, 13, 17, 19, 14, 13, 16, 10, 20, 20)
20
occurrance 2