<a href="https://colab.research.google.com/github/Arprovat/Python__B-2__EDGE/blob/main/Class_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num = 5
if num < 0:
   print("Enter a positive number")
else:
   sum = 0
   while(num > 0):
       sum += num
       num -= 1
   print("The sum is", sum)

The sum is 15

In [ ]:
i=1
while i<=20:
  if i%2==0:
   print( "Even:",i)
  i+=1

Even: 2
Even: 4
Even: 6
Even: 8
Even: 10
Even: 12
Even: 14
Even: 16
Even: 18
Even: 20

# Even/Odd Number

In [ ]:
i=0
while i<=20:
  i+=1
  if not (i%2):
    continue
  print(i)

1
3
5
7
9
11
13
15
17
19
21

# Find Factorial

In [ ]:
num = 3

factorial = 1

if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

The factorial of 3 is 6

In [ ]:
num=3
factorial =1
if num==0:
  print("factorial 1")
else:
  factorial = factorial*i
print("the factorial is ",factorial)

the factorial is  3

Multiplication

In [ ]:
n=int(input("Put a number"))
i=1
while i<=20:
  print(n,'x',i,'=',n*i)
  i+=1

Put a number5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60
5 x 13 = 65
5 x 14 = 70
5 x 15 = 75
5 x 16 = 80
5 x 17 = 85
5 x 18 = 90
5 x 19 = 95
5 x 20 = 100

# List

In [ ]:
a=[1,2,3,4,5,6]
print(a)
a[2]=a[0]
print(a)

[1, 2, 3, 4, 5, 6]
[1, 2, 1, 4, 5, 6]

In [ ]:
a=[1,2,3,4,5,6]
print(a)
i=0
while i<len(a)/2:
  a[i],a[len(a)-i-1]=a[len(a)-i-1], a[i]
  i+=1
  print(a)

[1, 2, 3, 4, 5, 6]
[6, 2, 3, 4, 5, 1]
[6, 5, 3, 4, 2, 1]
[6, 5, 4, 3, 2, 1]

# Sum of Digits in a number

# Password Check

In [ ]:
pass_ = "abc123"
MAX_ATTEMPT = 3
match = False

i = 0
while i < MAX_ATTEMPT:
    password = input("Enter password: ")
    i += 1
    if password == pass_:
        match = True
        break

if match:
    print("Access Granted")
else:
    print("Access Denied")

Enter password: askdkas
Enter password: abc123
Access Granted

In [ ]:
num = 684
sum = 0

while num > 0:
    d = num % 10
    num //= 10
    sum += d
print(sum)

18

# find maximum in a list

In [ ]:
from ast import MatchSequence
a=[11,12,22,13,5,26]
max = a[0]
i=0
while i<len(a):
  if a[i]>max:
    max=a[i]
  i+=1
print(max)

26

In [ ]:
while True:
  line=input('> ')
  if line[0]=='#':
    continue
  if line == 'done':
    break
  print(line)

> blbl
blbl
> #
> done

# break when find negative number

In [ ]:
a=[1,2,3,-2,4,5,6]
i=0
while i<len(a):
  if a[i]<0:
    break
  else:
   print(a[i])
  i+=1

1
2
3