<a href="https://colab.research.google.com/github/Arprovat/Python__B-2__EDGE/blob/main/class_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#for is more convenient when number of iteration known
# also it use when iteration is undefine

#                     way of for loop
# 1. for i in range (start, stop , step ) For Example for i in range(1,101,2):   1-100 will print

# 2. for i in range(n) here n is stop value start default 0


for i in range(1,10,1):
    print(i)

print('\n')
for i in range(10):
    print(i)

1
2
3
4
5
6
7
8
9


0
1
2
3
4
5
6
7
8
9

In [ ]:
# run for loop for list
fruits =['apple','banana','mango']

for fruit in fruits :
    print(fruit)

for i in [4,5,6,7]:
    print(i)


a=[8,6,84,24]
for i in a:
    print(i)

apple
banana
mango
4
5
6
7
8
6
84
24

In [ ]:

# run for loop for string
word = 'hello'
for char in word:
    print(char)

h
e
l
l
o

In [ ]:

#find ASCI value for char
word = 'hello'
for char in word:
    print(ord(char))


#find ASCI to char
word = [66,67,98,78]
for char in word:
    print(chr(char))

104
101
108
108
111
B
C
b
N

In [ ]:

#ceaser chiper (need one key and plaintxt)

plaintext= 'hello'
key=3
cipher= ''

for char in plaintext:
    cipher += chr(ord(char)+key)

print(cipher)

dec=''
for i in cipher:
    dec += chr( ord(i)- key)

print(dec)

khoor
hello

In [ ]:
# combine two or more list and run for loop
name = ['alice','bob','charlie']
ages = [29,34,56]

for name ,age in zip (name,ages):
  print(name,age)

alice 29
bob 34
charlie 56

In [ ]:
names =['alice','bob','charlie']
for idx,name in enumerate(names):
   print(idx,name)

0 alice
1 bob
2 charlie

In [ ]:
# nested loop whenever we write one loop inside another loop
# normally consider 3 loop (hour-> min -> sec)

for i in range(4):
  for j in range(4):
    for k in range(4):
      print("i: ",i,'j: ',j,"k: ",k)

i:  0 j:  0 k:  0
i:  0 j:  0 k:  1
i:  0 j:  0 k:  2
i:  0 j:  0 k:  3
i:  0 j:  1 k:  0
i:  0 j:  1 k:  1
i:  0 j:  1 k:  2
i:  0 j:  1 k:  3
i:  0 j:  2 k:  0
i:  0 j:  2 k:  1
i:  0 j:  2 k:  2
i:  0 j:  2 k:  3
i:  0 j:  3 k:  0
i:  0 j:  3 k:  1
i:  0 j:  3 k:  2
i:  0 j:  3 k:  3
i:  1 j:  0 k:  0
i:  1 j:  0 k:  1
i:  1 j:  0 k:  2
i:  1 j:  0 k:  3
i:  1 j:  1 k:  0
i:  1 j:  1 k:  1
i:  1 j:  1 k:  2
i:  1 j:  1 k:  3
i:  1 j:  2 k:  0
i:  1 j:  2 k:  1
i:  1 j:  2 k:  2
i:  1 j:  2 k:  3
i:  1 j:  3 k:  0
i:  1 j:  3 k:  1
i:  1 j:  3 k:  2
i:  1 j:  3 k:  3
i:  2 j:  0 k:  0
i:  2 j:  0 k:  1
i:  2 j:  0 k:  2
i:  2 j:  0 k:  3
i:  2 j:  1 k:  0
i:  2 j:  1 k:  1
i:  2 j:  1 k:  2
i:  2 j:  1 k:  3
i:  2 j:  2 k:  0
i:  2 j:  2 k:  1
i:  2 j:  2 k:  2
i:  2 j:  2 k:  3
i:  2 j:  3 k:  0
i:  2 j:  3 k:  1
i:  2 j:  3 k:  2
i:  2 j:  3 k:  3
i:  3 j:  0 k:  0
i:  3 j:  0 k:  1
i:  3 j:  0 k:  2
i:  3 j:  0 k:  3
i:  3 j:  1 k:  0
i:  3 j:  1 k:  1
i:  3 j:  1 k:  2
i:  3 j:  1 k:  3
i:  3 j:  2 k:  0
i:  3 j:  2 k:  1
i:  3 j:  2 k:  2
i:  3 j:  2 k:  3
i:  3 j:  3 k:  0
i:  3 j:  3 k:  1
i:  3 j:  3 k:  2
i:  3 j:  3 k:  3

In [ ]:
#find max number in a List
A= [23,44,66,75,99,33,56,90]
max = A[0];
for i in A:
  if i>max:
    max=i
print(max)

99

In [ ]:
#print matrix using for loop
matrix =[[1,2,3],[4,5,6],[7,8,9]]
for row in matrix:
  for element in row:
    print(element ,end=' ')
  print('\n')

1 2 3

4 5 6

7 8 9

**Exercises**

In [14]:
# 1. Print Number from 1 to 10
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [15]:
# 2. Sum of First N Natual Numbers
n=5
sum=0
for i in range(1,n+1):
  sum+=i
print(sum)

15

In [16]:
#3. print each character of a string
String = 'hello world'
for char in String:
  print(char)

h
e
l
l
o

w
o
r
l
d

In [17]:
#4. Print Even number between  1 to 20
for i in range(20):
  if i%2==0:
    print(i)

0
2
4
6
8
10
12
14
16
18

In [18]:
#5. find the factorial of a Number
n=5
fact =1
for i in range(1,n+1):
  fact*=i
  print(fact)

1
2
6
24
120

In [20]:
#6 Creative a multiplication table

n=9
for i in range(1,11):
  print(n,"X",i,'=',i*n)

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90

In [21]:
#7. sum of Even number in a List

List =[ 2,4,3,5,67,84,67,88,22]
sum=0;
for i in List:
  if i%2==0:
    sum+=i
print(sum)

200

In [29]:
#8.count the frequency of digit in a number
list=[0,0,0,0,0,0,0,0,0,0]
number =12468
while number>0:
  digit = number%10
  list[digit] += 1
  number//=10

print(list)

[0, 1, 1, 0, 1, 0, 1, 0, 1, 0]

In [31]:
#10check for prime numbers in a range
import math
num= int(input())


for j in range(2,int(math.sqrt(n))+1,1):
    if not (num%j):
      print("not prime")
      break
else:
      print("prime")

11
prime

In [34]:
#plaindron of number
num = 1221
reverse=0
while num>0:
  digit = num%10
  reverse = reverse*10 + digit
  num//=10
if reverse ==num:
  print("plaindron")
else:
  print("not plaindron")

not plaindron

In [36]:
#check palindron in List
name = ['provat','nadim','NNN']

for i in name:
  reverse = ''
  if i == i[::-1]:
    reverse +=i
    print('plaindron',reverse)
  else:
    print('not plaindron',i)

not plaindron provat
not plaindron nadim
plaindron NNN